.App {
  text-align: center;
  
}
.display-todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}






.todo-input-and-add-button {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.todos-container {
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  margin: 32px;


}

/* -------------------------------------------- */

:root {
  --primary-key-color: #1B1A17;
  --secondary-key-color: #1F1E1B;
  --tertiary-key-color: #A35709;
  --neutral-key-color: #FF8303;
  --neutral-variant-key-color: #F0E3CA;
}

body {
  background-color: var(--primary-key-color);
}

main {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  justify-content: center;
  align-items: center;
  display: grid;
 
 
}

.default-message-when-todos-is-empty-container {
  text-align: center;
  color: var(--neutral-variant-key-color);
  /* justify-content: center; */
  margin-top: 32px;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
}

.default-message-when-todos-is-empty-container > hr {
  width: 64px;
  color: var(--neutral-key-color);
 

}



.add-todo-component > button {
  border: none;
  background-color: var(--primary-key-color);
  color: var(--neutral-key-color);

  
}


.todo-title-text-and-add-todo-component-container {
  display: flex;
  align-items: center;
  gap: 16px;
  /* background-color: red;    */
  justify-content: center;
  /* background-color: red; */
  
  
}

.todo-tile-and-text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* background-color: red; */
  


}
.todo-title-content {
  border: 2px solid var(--neutral-key-color);
  border-radius: 8px;
  width: fit-content;

}

.todo-title {
  padding: 8px;
  border-radius: 8px;
  border: 0px solid var(--neutral-key-color);
  background-color: var(--secondary-key-color);
  color: var(--neutral-variant-key-color);
}

.todo-description-content {
  border: 2px solid var(--neutral-key-color);
  border-radius: 8px;
  width: fit-content;

}

.todo-description {
  padding: 8px;
  border-radius: 8px;
  border: 0px solid var(--neutral-key-color);
  background-color: var(--secondary-key-color);
  color: var(--neutral-variant-key-color);

}

.add-todo-component {
  border: 3px solid var(--neutral-key-color);
  border-radius: 8px;
  
  

}

.add-todo-component > i {
  padding: 32px;
  border-radius: 8px;
  border: 0px solid var(--neutral-key-color);
  background-color: var(--secondary-key-color);
  color: var(--neutral-key-color);
  
  


}
.all-todos-entries-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: red;
  margin-top: 32px;
  align-items: center;


}

.entered-todo-container {
  display: flex;
  border: 3px solid var(--tertiary-key-color);
  background-color: var(--secondary-key-color);
  border-radius: 8px;
  align-items: center;
  margin-top: 32px;
  /* margin-bottom: 32px; */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  width: fit-content;
  
}


.entered-todo-title-content {
  color: var(--neutral-variant-key-color);
}





.delete-todo-component {
  border: 1px solid var(--neutral-key-color);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  /* margin-left: 1%; */
  margin-left: 32px;

}


.delete-todo-component > i {
  padding: 8px;
  border-radius: 8px;
  border: 0px solid var(--neutral-key-color);
  background-color: var(--secondary-key-color);
  color: var(--tertiary-key-color);
  
}

.delete-todo-component > button {

  border: none;
  border-radius: 8px;
  background-color: var(--primary-key-color);
  color: var(--neutral-key-color);
}


