:root {
  --primary-key-color: #1B1A17;
  --secondary-key-color: #1F1E1B;
  --tertiary-key-color: #A35709;
  --neutral-key-color: #FF8303;
  --neutral-variant-key-color: #F0E3CA;
}

body {
  background-color: var(--primary-key-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
