body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    
}


#image-product-mobile {
    display: none   ;
}


@media screen and (max-width: 1440px) {
    .card-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        border-radius: 16px;
        /* border: 1px solid black; */
        
        /* width: 100vh;
        height: 80vh; */
        width: fit-content;
        height: fit-content;
        background-color:  hsl(0, 0%, 100%)
        
        
    
    }
    
    .card-content-left {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        /* background-color: red; */
        
    }
    
    .card-content-left > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        
    }
    
    .card-content-right {
        /* background-color: blue; */
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
        /* margin-top: 16px;
        margin-bottom: 16px;
        margin-right: 16px; */
        margin-left: 8%;
        
        
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: hsl(0, 0%, 100%);
      
       
       
        
       
        
    
    }
    .product-type {
        font-weight: 500;
        font-size: x-large;
        color:  hsl(228, 12%, 48%);
        
    }
    
    .product-description {
        width: 70%;
        color:  hsl(228, 12%, 48%);
    }
    
    .product-name {
        font-family: 'Fraunces', sans-serif;
        font-weight: 700;
        width: 60%;
        
    }
    
    .price-section {
        
        display: flex;
        gap: 8%;
        align-items: center;
        flex-wrap: nowrap;
        
    
    }
    .current-product-price  {
        color:  hsl(158, 36%, 37%);
        font-weight: 700;
        font-size: xx-large ;  
    }
    .previous-product-price {
    
        text-decoration: line-through;
        font-weight: 500;
        font-size: small;
        color:  hsl(228, 12%, 48%);
    }
    
    .add-to-cart-button {
        border: none;
        background-color: hsl(158, 36%, 37%);
        padding: 16px;
        color:  hsl(0, 0%, 100%);
        border-radius: 16px;
        width: 70%;
        margin-right: 10%;
    
    }

}

@media screen and (max-width: 375px) { 
    .card-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        border-radius: 16px;
        /* border: 1px solid black; */
        /* gap: 8px; */
        /* width: 100vh;
        height: 80vh; */
        margin: 16px;
        width: fit-content;
        height: fit-content;
        background-color:  hsl(0, 0%, 100%)
    
    }
    
    .card-content-left {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        /* background-color: red; */
        
    }
    
    .card-content-left > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0px;
        
    }
    
    .card-content-right {
        /* background-color: blue; */
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    
        /* margin-top: 0%; */
        /* margin-bottom: 8%; */
        /* margin-left: 8%; */
        /* margin-right: 8%; */
        border-top-right-radius: 0%;
        background-color: hsl(0, 0%, 100%);
        margin-left: 0%;
        
      
       
       
        
       
        
    
    }
    .product-type {
        font-weight: 500;
        color:  hsl(228, 12%, 48%);
        
    }
    
    .product-description {
         width: 100%; 
         color:  hsl(228, 12%, 48%);
    }
    
    .product-name {
        font-family: 'Fraunces', sans-serif;
        font-weight: 700;
        width: 100%; 
        
    }
    
    .price-section {
        
        display: flex;
        gap: 8%;
        
    
    }
    .current-product-price  {
        color:  hsl(158, 36%, 37%);
        font-weight: 700;
        font-size: xx-large ;  

    }
    .previous-product-price {
    
        text-decoration: line-through;
        font-weight: 500;
        font-size: small;
        color:  hsl(228, 12%, 48%);
    }
    
    .add-to-cart-button {
        border: none;
        background-color: hsl(158, 36%, 37%);
        padding: 16px;
        color:  hsl(0, 0%, 100%);
        border-radius: 16px;
        width: 100%;
       
       
    }
    #image-product-desktop {
        display: none;
    }
    #image-product-mobile {
        display: block;
    }

}

